div{
    display: flex;
    justify-content: center;
    height: 100%;
}

h1{
    text-align: center;
    margin: 20px;
    color:rgba(212, 13, 106, 0.822);
    font-weight: bold;
}


table {
    margin-top: 20px;
    width: 90%;
}

th{
    color:rgba(212, 13, 106, 0.822);
    background-color:rgba(255, 255, 255, 0.473);

}

td{
    background-color: rgba(255, 255, 255, 0.747);
}


button{

    width: 10px;
}